# Lines that start with '#' are comments.

# generic part (can be overridden locally using !pattern)
bin/
doc/
doc-files/

# eclipse-related content
.project
.classpath
.metadata/
.settings/

# Generated output
logs/
target/
.target/
project/target
project/project/target
