html {
    background: #eee;
}

header h1 {
    padding: 0.4em 1.1em;
    color: white;
    font-weight: normal;
    font-size: 24px;
}

section#main {
    position: relative;
    padding: 5em 2em;
    border-bottom: 1px solid #ccc;
    min-height: 600px;
} 

section#main .topRight {
    position: absolute;
    right: 20px;
    top: 70px;
}

table.playlist em {
    color: #aaa;
}

table.playlist .pos {
	width: 50px;
}

table.playlist .title, table.playlist .artist {
    width: 30%;
    min-width: 100px;
}

table.playlist .options {
    width: 50px;
}

table.playlist .header a {
}

#actions {
    position: relative;
    height:50px;
}

#actions #browseDb {
    position: absolute;
    right: 0;
    top: 0;
}

#actions #toPlaylist {
    position: absolute;
    right: 0;
    top: 0;
}

#pagination {
    position: relative;
}

#pagination ul {
    position: absolute;
    right: 0;
}

#pagination ul .current a {
    color: #666;
}

#slider-range-min {
	width:400px;
	margin-top:10px;
	margin-left:10px
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
/*	user-select: none;		not recognized by FF */
	cursor:default; 
}

.zebra-striped tbody tr.highlight td {background-color:#c8c8ff;}

#comet {
    display: none;
}
