@(currentPage: com.avaje.ebean.Page[org.bff.javampd.objects.MPDSong], playlistfiles: List[String], currentSortBy: String, currentOrder: String, currentFilter: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Application.browseDb(newPage, sortBy, order, currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_")"> 
        <a href="@link(0, key)">@title</a>
    	@if(currentSortBy == key) @{if(currentOrder == "asc") {
    		<span class="glyphicon glyphicon-chevron-up"></span> } else { 
    		<span class="glyphicon glyphicon-chevron-down"></span> } }
    </th>
}

@main(routes.Application.browseDb()) {
    
    <h3 class="pull-right" id="homeTitle">@Messages("database.list.title", currentPage.getTotalRowCount)</h3>

    <div id="actions">
                
        <form class="form-inline" role="form" action="@link(0, "name")" method="GET">
		  <div class="form-group">
            <input type="text" class="form-control" id="searchbox" name="filter" value="@currentFilter" placeholder="Filter by title...">
          </div>
          
          <input type="submit" id="searchsubmit" value="Filter by name" class="btn btn-primary">
        </form>

    </div>
           
    <table id="database" class="table table-striped table-hover">
        <thead>
            <tr>
                @header("title", "Title")
                @header("artist", "Artist")
                @header("album", "Album")
                @header("file", "File")
                <th></th>
            </tr>
        </thead>
        <tbody>

            @for(song <- currentPage.getList) {
                <tr>
                    <td>@song.getTitle()</td>
                    <td>@song.getArtist()</td>
                    <td>@song.getAlbum()</td>
                    <td>@song.getFile()</td>
                    <td title="@Messages("database.add")">                         
                    	<a href="#" data-ref="@song.getFile()"
                    		class="dbentry glyphicon glyphicon-plus 
                    			@if(playlistfiles.contains(song.getFile)) {inplaylist} else {notinplaylist}">
                    	</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    
    <ul class="pagination pull-right">
        @if(currentPage.hasPrev) {
            <li>
                <a href="@link(currentPage.getPageIndex - 1, null)">&laquo;</a>
            </li>
        } else {
            <li class="disabled">
                <a>&laquo;</a>
            </li>
        }

        @for(idx <- Math.max(0, currentPage.getPageIndex - 2) to Math.min(currentPage.getTotalPageCount - 1, currentPage.getPageIndex + 2)) {

            <li @if(idx == currentPage.getPageIndex) {class="active"}>
                <a href="@link(idx, null)">@idx</a>
            </li>
        }

        @if(currentPage.hasNext) {
            <li>
                <a href="@link(currentPage.getPageIndex + 1, null)">&raquo;</a>
            </li>
        } else {
            <li class="disabled">
                <a>&raquo;</a>
            </li>
        }
    </ul>
    
    <a class="btn btn-warning" id="updateDb" href="@routes.Application.updateDb()">
    	<span class="glyphicon glyphicon-refresh"></span> Update Database
    </a>
        
	
}

            
