@(currentPage: com.avaje.ebean.Page[org.bff.javampd.objects.MPDSong], currentSortBy: String, currentOrder: String, currentFilter: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Application.browseDb(newPage, sortBy, order, currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main {
    
    <h1 id="homeTitle">@Messages("database.list.title", currentPage.getTotalRowCount)</h1>

    <div id="actions">
        
        <form action="@link(0, "name")" method="GET">
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by title...">
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn primary">
        </form>

        <a class="btn success" id="toPlaylist" href="@routes.Application.index()">Back</a>
                
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="zebra-striped">
            <thead>
                <tr>
                    @header("title", "Title")
                    @header("artist", "Artist")
                    @header("album", "Album")
                    @header("file", "File")
                    <th>Add?</th>
                </tr>
            </thead>
            <tbody>

                @for(song <- currentPage.getList) {
                    <tr>
                        <td>@song.getTitle()</td>
                        <td>@song.getArtist()</td>
                        <td>@song.getAlbum()</td>
                        <td>@song.getFile()</td>
                        <td><a href="@routes.Application.addDbEntry(song.getFile())">Add</a></td>
                    </tr>
                }

            </tbody>
        </table>
        
        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
        <a class="btn danger" id="updateDb" href="@routes.Application.updateDb()">Update Database</a>
        
    }
	
}

            
