@(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>Computers database</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" /> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui-1.10.3/redmond/jquery-ui.min.css")" />
		<script src="@routes.Assets.at("javascripts/jquery-1.10.2.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/jquery-ui-1.10.3.min.js")"></script>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
    </head>
    <body>
        
        <header class="topbar">
            <h1 class="fill">
                <a href="@routes.Application.index()">
                    Music Player Daemon &mdash; Play 2.0 web client
                </a>
            </h1>
        </header>
        
        <section id="main">
		    @if(flash.containsKey("success")) {
		        <div class="alert-message success">
		            <strong>Done!</strong> @flash.get("success")
		        </div>
		    } 
		
		    @if(flash.containsKey("error")) {
		        <div class="alert-message error">
		            <strong>Error!</strong> @flash.get("error")
		        </div>
		    } 
		
		    @if(flash.containsKey("info")) {
		        <div class="alert-message info">
		            <strong>Info:</strong> @flash.get("info")
		        </div>
		    } 
		
		    @if(flash.containsKey("warning")) {
		        <div class="alert-message warning">
		            <strong>Warning:</strong> @flash.get("warning")
		        </div>
		    } 
                
            @content
        </section>
        
    </body>
</html>
