@(curlink: play.api.mvc.Call)(content: Html)

@**********************************
* Helper generating table headers *
***********************************@
@entry(link : Call, title:String) = {
	<li @if(link == curlink) { class="active" }><a href="@link">@title</a></li>
   
}


<!DOCTYPE html>
<html lang="en">
    <head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="">
    	<meta name="author" content="">
    
    	<link rel="shortcut icon" href="@routes.Assets.at("images/favicon.png")" />

    
        <title>Play! MPC</title>

		<!-- jQuery UI -->
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui-1.10.3/redmond/jquery-ui.min.css")" />
    
    	<!-- Bootstrap core CSS -->    
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" /> 
	
	    <!-- Custom styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />

		<!-- Scripts are at the bottom -->
		
		<!-- Placed at the end of the document so the pages load faster -->
       	<script src="@routes.Assets.at("javascripts/jquery-1.10.2.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/jquery-ui-1.10.3.min.js")"></script>

		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
		
        <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
				
    </head>
    <!-- Setting margin-right to 0px is required to prevent Bootstrap 
    		from reserving space for a vertical scrollbar--> 
    <body style="margin-right:0px">

	<header>        
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <span class="navbar-brand">@Messages("project.name")</span>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          	@entry(routes.Application.playlist(), "Playlist")
            @entry(routes.Application.browseDb(), "Database")
          	@entry(routes.Application.playlists(), "Playlists")
            @entry(routes.Application.info(), "Info")
          </ul>
          @if(curlink != routes.Credential.login()) {
       	     <ul class="nav navbar-nav navbar-right">
               <li><a href="@routes.Credential.logout()">Logout</a></li>
             </ul>
          }
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	</header>

    <section id="main">
      <div class="container">
        <div id="success-box" class="alert alert-success @if(!flash.containsKey("success")) { hidden }" >
        	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Done! </strong><span id="success-text">@flash.get("success")</span>
        </div>

        <div id="info-box" class="alert alert-info @if(!flash.containsKey("info")) { hidden }" >
        	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Info: </strong><span id="info-text">@flash.get("info")</span>
        </div>

        <div id="warning-box" class="alert alert-warning @if(!flash.containsKey("warning")) { hidden }" >
            <strong>Warning: </strong><span id="warning-text">@flash.get("warning")</span>
        </div>

        <div id="error-box" class="alert alert-danger @if(!flash.containsKey("error")) { hidden }" >
            <strong>Error! </strong><span id="error-text">@flash.get("error")</span>
        </div>
                
        @content
      </div><!-- /.container -->
    </section>

	<footer />
               
    </body>
</html>
