@(savedlists: List[org.bff.javampd.objects.MPDSavedPlaylist])
@import org.bff.javampd.MPDPlayer.PlayerStatus._;

@current = {"current"}

@main(routes.Application.playlists()) {

    @if(savedlists.isEmpty) {    
        <div class="well">
            <em>Nothing to display</em>
        </div>   
    } else {
     <div class="container col-xs-3 col-sm-3 col-md-3">  
		<ul id="playlist-list" class="nav nav-pills nav-stacked">
            @for(list <- savedlists) {
                <li id="@list.getName()" class="playlist @{if(list.getName() == current) "active"}" >
                    <a href="#">@list.getName()
                      <span class="badge pull-right">@list.getSongs().size()</span>
                    </a>
                </li>
            }


		</ul>
		</div>

        <div class="container col-xs-9 col-sm-9 col-md-9">
        <div class="panel panel-default">
		  <div class="panel-heading"><span id="panel-title">Panel heading without title</span>
		  
             <button style="margin-left:5px" type="button" class="btn btn-xs btn-default pull-right"><a class="remove" title="@Messages("playlists.remove")" href="#">Remove
                	<span class="glyphicon glyphicon-trash"></span></a>
             </button>
             <button type="button" class="btn btn-xs btn-default pull-right"><a class="activate" title="@Messages("playlists.activate")" href="#">Activate
                	<span class="glyphicon glyphicon-ok"></span></a>
             </button>
		  
		  </div>
  		  <ul id="playlist-songs" class="list-group">
		  </ul>
		</div>
		</div>
	}
	
    <script type="text/javascript" charset="utf-8">
        $(function() 
        {
			$('.playlist').click(function()
			{
    			var id = $(this).attr('id');
    			
    			selectPlaylist(id);
			});
			
			// There is at least one child, otherwise this page wouldn't be shown
			var firstList = $("#playlist-list").children(0);
			selectPlaylist(firstList.attr('id'));
		});
		
		function selectPlaylist(id)
		{
			$("#" + id).addClass('active').siblings().removeClass('active');
			
			$("#panel-title").html(id);

			//var result = jsRoutes.controllers.Application.getPlaylistSongs(id).ajax({});
			
			$("#playlist-songs").empty();
			
			for ( var i = 0; i < 5; i++ ) 
			{
				// I would have preferred to create a "li" element and add it to the parent "ul"
				// instead of string concatenation, but I don't know how ..
				$("#playlist-songs").append("<li class='list-group-item'>" + id + " Song " + i + "</li>\n");
			}
		
		}		    
	</script>
}
            
