@(player: org.bff.javampd.MPDPlayer, currentPage: com.avaje.ebean.Page[org.bff.javampd.objects.MPDSong])
@import org.bff.javampd.MPDPlayer.PlayerStatus._;

@songLength = @{ if(player.getCurrentSong() == null) 0; else player.getCurrentSong().getLength(); }
@songIndex = @{ if(player.getCurrentSong() == null) -1; else player.getCurrentSong().getPosition(); }

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header">@title</th>
}

@*********************************@

@format_time(secs:Long) = @{
	"%d:%02d".format(secs / 60, secs % 60)
}


@main(routes.Application.playlist()) {

@addweb()
@saveplaylist()
    
    <div id="actions">               
	  <p style="font-size:large" id="homeTitle">@Messages("playlist.title")
	
        <a title="@Messages("playlist.save")" data-toggle="modal" data-backdrop="static" href="#save-playlist-dialog" class="btn btn-sm btn-default">
		  <span class="glyphicon glyphicon-save"></span> Save
		</a>
	 
	  <!-- Button trigger modal -->
        <a title="@Messages("playlist.addurl")" data-toggle="modal" data-backdrop="static" href="#addweb-dialog" class="btn btn-success pull-right">
		  <span class="glyphicon glyphicon-plus"></span> Add URL
		</a>
	 </p>
		
    </div>
    
    @if(currentPage.getTotalRowCount() == 0) {    
        <div class="well">
            <em>Nothing to display</em>
        </div>   
    } else {
		<table class="table table-striped table-hover unselectable" id="playlist">
        
            <thead>
                <tr>
                    @header("pos", "Pos")
                    @header("title", "Title")
                    @header("artist", "Artist")
                    @header("album", "Album")
                    @header("genre", "Genre")
                    @header("year", "Year")
                    @header("remove", "")
                </tr>
            </thead>
            <tbody>

                @for(song <- currentPage.getList) {
                    <tr id="playlist-entry@song.getPosition()" class="@{if(song.getPosition == songIndex) "highlight"}" data-pos="@song.getPosition()" >
                        <td class="pos">@song.getPosition()</td>
                        <td>@song.getTitle()</td>
                        <td>@song.getArtist()</td>
                        <td>@song.getAlbum()</td>
                        <td>@song.getGenre()</td>
                        <td>@song.getYear()</td>
                        <td><a class="remove" title="@Messages("playlist.remove")" 
                        	href="#" data-pos="@song.getPosition()">
                        	<span class="glyphicon glyphicon-trash"></span>
                        </a></td>
                    </tr>
                }

            </tbody>
        </table>
        
        <div>
            <ul class="pager">
                @if(currentPage.hasPrev) {
                    <li class="previous">
                        <a href="@routes.Application.playlist(currentPage.getPageIndex - 1)">&larr; Previous</a>
                    </li>
                } else {
                    <!--li class="previous disabled">
                        <a>&larr; Previous</a>
                    </li-->
                }
                <li>
                    Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@routes.Application.playlist(currentPage.getPageIndex + 1)">Next &rarr;</a>
                    </li>
                } else {
                    <!--li class="next disabled">
                        <a>Next &rarr;</a>
                    </li-->
                }
            </ul>
        </div>
        
        <table style="white-space:nowrap; margin-bottom:5px">         
          <tr>
            <td style="padding-right:5px">Playing: 
            </td> 
			<td>
				<span id="songpos-elapsed" data-elapsed="@player.getElapsedTime">@format_time(player.getElapsedTime)</span>
			</td>
			<td>
				<span id="songpos-sep" @if(songLength == 0) { class="hidden" }> / </span>
			</td>
			<td>
				<span id="songpos-length" @if(songLength == 0) { class="hidden" } data-length="@songLength">@format_time(songLength)</span>
			</td>
			<td style="padding-left: 15px; width:100%">		
				<div id="songpos-slider" @if(songLength == 0) { class="hidden" }></div>
			</td>
          </tr>
        </table>
        
        <div class="row">
       	<div class="col-xs-4 col-sm-4 col-md-4">
			<div id="control-buttons" class="btn-toolbar">
				<div class="btn-group">        			
					<a title="@Messages("playlist.prev")" class="btn btn-default" id="prevsong" href="@routes.Application.prevSong()">
						<span class="glyphicon glyphicon-step-backward"></span>
					</a>
					
					<a title="@Messages("playlist.play")" class="btn btn-default @{if(player.getStatus() != STATUS_STOPPED) "button-down"}" id="playsong" href="@routes.Application.playSong()">
						<span id="playsong-glyph" class="glyphicon @{if(player.getStatus() == STATUS_PLAYING) "glyphicon-pause" else "glyphicon-play"}"
						</span>
					</a>
						
					<a title="@Messages("playlist.next")" class="btn btn-default" id="nextsong" href="@routes.Application.nextSong()">
						<span class="glyphicon glyphicon-step-forward"></span>
					</a>
				</div>
				<div class="btn-group">
					<a title="@Messages("playlist.stop")" class="btn btn-default @{if(player.getStatus() == STATUS_STOPPED) "button-down"}" id="stopsong" href="@routes.Application.stopSong()">
						<span class="glyphicon glyphicon-stop"></span>
					</a>
				</div>
			</div>
		</div>
		
		<div class="col-xs-4 col-sm-4 col-md-4">
			<table style="margin: 0 auto;">
				<tr>
					<td>
						<span id="volume-icon" class="glyphicon"></span>
					</td>
					<td>
						<!-- this text value that written by Play! and read by JavaScript code-->
						<div id="volume">@player.getVolume()</div>
					</td>
					<td>
						<div style="width: 160px" id="volume-slider"></div>
					</td>
				</tr>
			</table>
		</div>
		
		<div class="col-xs-4 col-sm-4 col-md-4">
			<div id="playstyle-buttons" class="btn-toolbar pull-right">
				<div class="btn-group">
					<a title="@Messages("playlist.shuffle")" class="btn @if(player.isRandom()) {btn-primary} else {btn-default}" id="shuffle" href="@routes.Application.toggleShuffle()">
						<span class="glyphicon glyphicon-random"></span>
					</a>
					<a title="@Messages("playlist.repeat")" class="btn @if(player.isRepeat()) {btn-primary} else {btn-default}" id="repeat" href="@routes.Application.toggleRepeat()">
						<span class="glyphicon glyphicon-repeat"></span>
					</a>
					<a title="@Messages("playlist.single")" class="btn @if(player.isSingleMode) {btn-primary} else {btn-default}" id="single" href="@routes.Application.toggleSingleMode()">
						<span class="glyphicon glyphicon-record"></span>
					</a>
					<a title="@Messages("playlist.consume")" class="btn @if(player.isConsuming) {btn-primary} else {btn-default}" id="consume" href="@routes.Application.toggleConsuming()">
						<span class="glyphicon glyphicon-cutlery"></span>
					</a>
				</div>
			</div>
		</div>
		</div>
    }
	
    <script type="text/javascript" charset="utf-8">
    
        $(function() 
        {
            var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
            var sock = new WS("@routes.App.sockHandler().webSocketURL(request)")
            
            sock.onmessage = function(event) 
            {
            	var msg = JSON.parse(event.data);
            	
            	switch(msg.type) 
            	{
    				case "songpos":
    					if (!block_songpos_update)
    					{
            				$("#songpos-slider" ).slider("value", msg.value);
                			$("#songpos-elapsed").html(format_time(msg.value));
                		}
                		break;
                		
                	case "volume":
				        $('#volume-slider').slider("value", msg.value);
	        			$('#volume').html(msg.value);
	        			updateVolumeIcon(msg.value);
				        break;
				        
				    case "consume":
				    	setBtnActive($('#consume'), msg.value);
				    	break;
				        
				    case "single":
				    	setBtnActive($('#single'), msg.value);
				    	break;
				        
				    case "shuffle":
				    	setBtnActive($('#shuffle'), msg.value);
				    	break;
				        
				    case "repeat":
				    	setBtnActive($('#repeat'), msg.value);
				    	break;
				    	
					case "status":
						if (msg.value == "stop")
						{
							$('#playsong').removeClass("button-down");
							$('#stopsong').addClass("button-down");
						}
						else
						{
							$('#playsong').addClass("button-down");
							$('#stopsong').removeClass("button-down");
						}
						
						$('#playsong-glyph').addClass   ((msg.value == "play") ? "glyphicon-pause" : "glyphicon-play");
						$('#playsong-glyph').removeClass((msg.value != "play") ? "glyphicon-pause" : "glyphicon-play");						
						break;
						
					case "songlength":
						$("#songpos-length").html(format_time(msg.value));
						$("#songpos-slider").slider("option", "max", msg.value);
						
						if (msg.value > 0)
						{
							$("#songpos-sep" ).removeClass("hidden");
							$("#songpos-length").removeClass("hidden");
							$("#songpos-slider" ).removeClass("hidden");
						}
						else
						{
							$("#songpos-sep" ).addClass("hidden");
							$("#songpos-length").addClass("hidden");
							$("#songpos-slider" ).addClass("hidden");
						}
						break;
						
					case "select":
						var name = '#playlist-entry' + msg.value;
						var row = $(name);
						row.addClass('highlight').siblings().removeClass('highlight');
						break;
	
					case "reload":				
						window.location.reload();
						break;
                }
            }
            
			sock.onerror = function(event)
    		{
    			alert("Websocket exception : " + JSON.stringify(event));
    		} 
        });
	    
    </script>

}

            
