@(player: org.bff.javampd.MPDPlayer, currentPage: com.avaje.ebean.Page[org.bff.javampd.objects.MPDSong])
@import org.bff.javampd.MPDPlayer.PlayerStatus._;

@cs = @{ player.getCurrentSong(); }

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header">@title</th>
}

@*********************************@

@playlist_index = @{
	if(player.getCurrentSong() == null) -1; else
	player.getCurrentSong().getPosition()
}

@*********************************@

@format_time(secs:Long) = @{
	"%d:%02d".format(secs / 60, secs % 60)
}


@main(routes.Application.playlist()) {

@addweb()
    
    <div id="actions">               
	  <h3 id="homeTitle">@Messages("playlist.title")</h3>
	
	  <!-- Button trigger modal -->
        <a data-toggle="modal" data-backdrop="static" href="#myModal" id="browseDb" class="btn btn-success">
		  <span class="glyphicon glyphicon-plus"></span> Add URL
		</a>
		
    </div>
    
    @if(currentPage.getTotalRowCount() == 0) {    
        <div class="well">
            <em>Nothing to display</em>
        </div>   
    } else {
		<table class="table table-striped table-hover unselectable" id="playlist">
        
            <thead>
                <tr>
                    @header("pos", "Pos")
                    @header("title", "Title")
                    @header("artist", "Artist")
                    @header("album", "Album")
                    @header("genre", "Genre")
                    @header("year", "Year")
                    @header("remove", "")
                </tr>
            </thead>
            <tbody>

                @for(song <- currentPage.getList) {
                    <tr class="@{if(song.getPosition == playlist_index) "highlight"}" data-pos="@song.getPosition()" >
                        <td class="pos">@song.getPosition()</td>
                        <td>@song.getTitle()</td>
                        <td>@song.getArtist()</td>
                        <td>@song.getAlbum()</td>
                        <td>@song.getGenre()</td>
                        <td>@song.getYear()</td>
                        <td><a class="remove" title="@Messages("playlist.remove")" 
                        	href="#" data-pos="@song.getPosition()">
                        	<span class="glyphicon glyphicon-trash"></span>
                        </a></td>
                    </tr>
                }

            </tbody>
        </table>
        
        <div>
            <ul class="pager">
                @if(currentPage.hasPrev) {
                    <li class="previous">
                        <a href="@routes.Application.playlist(currentPage.getPageIndex - 1)">&larr; Previous</a>
                    </li>
                } else {
                    <!--li class="previous disabled">
                        <a>&larr; Previous</a>
                    </li-->
                }
                <li>
                    Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@routes.Application.playlist(currentPage.getPageIndex + 1)">Next &rarr;</a>
                    </li>
                } else {
                    <!--li class="next disabled">
                        <a>Next &rarr;</a>
                    </li-->
                }
            </ul>
        </div>
        
        @if(cs != null) {
        <table>         
          <tr>
            <td><p style="width:250px">Playing: 
            	@if(cs.getArtist != null) { @cs.getArtist - } 
            	@if(cs.getTitle != null) { @cs.getTitle }
            </p></td>
           	@if(cs.getLength != 0) { 
				<td><p style="width:100px">
					<span id="songpos-elapsed" data-elapsed="@player.getElapsedTime">@format_time(player.getElapsedTime)</span>
					/ 
					<span id="songpos-length" data-length="@cs.getLength">@format_time(cs.getLength)</span>
				</p></td>
				<td style="width:100%">		
						<div id="songpos-slider"></div>
	            </td>
			}
          </tr>
        </table>
        }
        
        <table id="controls">
        <tr>
        <td>
        <div id="control-buttons" class="btn-toolbar">
        	<div class="btn-group">        			
				<a class="btn btn-default" id="prevsong" href="@routes.Application.prevSong()">
					<span class="glyphicon glyphicon-step-backward"></span>
				</a>
				
				<a class="btn btn-default @{if(player.getStatus() != STATUS_STOPPED) "button-down"}" id="playsong" href="@routes.Application.playSong()">
					<span class="glyphicon @{if(player.getStatus() == STATUS_PLAYING) "glyphicon-pause" else "glyphicon-play"}"
					</span>
				</a>
					
				<a class="btn btn-default" id="nextsong" href="@routes.Application.nextSong()">
					<span class="glyphicon glyphicon-step-forward"></span>
				</a>
			</div>
			<div class="btn-group">
				<a class="btn btn-default @{if(player.getStatus() == STATUS_STOPPED) "button-down"}" id="stopsong" href="@routes.Application.stopSong()">
					<span class="glyphicon glyphicon-stop"></span>
				</a>
			</div>
        </div>
		</td>
		<td>
			<span id="volume-icon" class="glyphicon"></span>
		</td><td>
			<!-- this text value that written by Play! and read by JavaScript code-->
			<div id="volume">@player.getVolume()</div>
		</td><td>		
			<div style="width:160px" id="volume-slider"></div>
		</td>
		<td style="width:100%">
		</td>
		</tr>
		</table>
    }
		
    <script type="text/javascript" charset="utf-8">
        
    // Called for each Comet message
    var volumeChanged = function(volume) 
    {
        $('#volume').html(volume)
        $('#volume-slider').slider( "value", volume );
    }
    </script>
    
    <!--iframe id="comet" src="@routes.Application.liveUpdate.unique"></iframe-->

}

            
