@()

  <!-- Modal -->
  <div class="modal fade" id="save-playlist-dialog" tabindex="-1" role="dialog" aria-labelledby="Save Playlist" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form role="form" >
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	          <h4 class="modal-title">Save playlist</h4>
	        </div>
	        <div class="modal-body">
		            <div class="form-group">
		           		<label for="text-input">Name</label>
		                <input type="text" id="text-input" class="form-control" name="name" placeholder="myPlaylist" >
		            </div>
	        </div>
	        <div class="modal-footer">
	          <input type="submit" class="btn btn-primary" value="Save">
	        </div>
        </form>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
		

    <script type="text/javascript" charset="utf-8">
    
    $(function() 
    {
  		$('#save-playlist-dialog').on('shown.bs.modal', function () {
   			$('#text-input').focus();
		});
		
	  	$("#save-playlist-dialog").submit(function(event)
	    {
	    	event.preventDefault();
	    
	    	var name = $('#text-input').val();

			jsRoutes.controllers.Application.playlistSave(name).ajax(
	    	{
				error: function(html) { showAlert("error", html.responseText); },
				success: function(html) { showAlert("success", "Playlist \"" + name + "\" saved!"); }
	    	});
	    	
	    	$(this).modal('hide')
	    });
	});  
  </script>
